---
layout: default
title: Project
cover: false
permalink: /projects/
sitemap:
  lastmod: 2014-01-23
  priority: 0.7
  changefreq: 'monthly'
  exclude: 'yes'
---

{% include header.html %}

<main id="content" class="content" role="main">

{% for cat in site.category-list %}
<section>

 <h1 class="section-header ">{{ cat | capitalize }}</h1>

{% assign pages = site.pages | sort: 'date' | reverse %}
{% for page in pages %}
{% if page.type == 'project' %}
{% for pc in page.categories %}
{% if pc == cat %}
<article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
        </header>
        <section class="post-excerpt">
          {{ page.summary }} <a class="read-more" href="{{ page.url }}">&rarr;</a>
        </section> {% if page.achievement %}
        <footer class="post-meta">
          {{ page.achievement}}
        </footer> {% endif %} 
</article>
{% endif %}  
{% endfor %} 
{% endif %}  
{% endfor %} 
</section>
{% endfor %}

<!-- cat -->


</main>
