{% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.baseurl }}" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p> 
                      I do design and am keen to make a positive impact on people, communities and causes.
                    </p>
             
                </section>                
            {% endif %}
