---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
  "basscss"
;

figcaption {
    font-size: 0.6em;
    text-align: center;
}
.pagination,
.button {
  font-size: 1.4rem;
  text-align: center;
}

.pagination a, .pagination .disabled {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #fafafa;
  border-radius: 0.1875em;
  border: 1px solid #f3f3f3;
  color: #333333;
  padding: 1em 1.5em;
}

.pagination .disabled {
  opacity: 0.5;
}

.pagination a:hover, .pagination a:focus {
  background: white;
  color: #477dca;
}

.pagination a:active {
  background: #f7f7f7;
}
.button {
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  white-space: nowrap;
  display: inline-block;
  line-height: 2rem;
  height: auto;
  min-height: 2rem;
  padding: .5rem 1rem;
}

.button-big {
  padding: 1.5rem 2rem;
}

.button-small {
  padding: 0 1rem;
}
form {  font-weight: 300; font-size: 1.6rem;  }

textarea.input { height: 8em; }

.page-title a{
  color:#333;
}
