---
# Main scss file
---
@charset "utf-8";

// Helpers
@import
    'helpers/mixins',
    'helpers/variables';

// Base
@import
    'base/reset';

// Utilities
@import
    'utilities/layout',
    'utilities/separator';

// Components
@import
    'components/page',
    'components/article',
    'components/tag',
    'components/archives';

// Vendor
@import
    'vendor/highlight';

body {
   font-family: "Merriweather", serif;
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-bottom: 16rem;
    .c-article {
    margin-bottom: 5rem;
    }
    .c-page__footer {
    margin-bottom: 5rem;
  }
}

textarea{
  font-family: Arial
}
   pre{
    margin-bottom: 0rem;
  }

.image-wrapper {
    text-align: center;

    .image-caption {
        font-size:0.75em;
        line-height: 2.2em;
    }
}
.c-page__header {
    margin-bottom: 5rem;
    h1{
      font-weight: 800
    }
}
.c-article__header {
  margin-bottom: 3rem; 
  h1{
    width: 100%;
  }
}
.c-archives__list {
    li {
        margin-bottom: 0rem;
    }
    h1, h2, h3, h4, h5, h6, pre, blockquote, dl, figure, table, p, ul, ol, form {
        margin-bottom: 0rem;
   }

}

.c-article__main{
  ul,ol{
    margin-left: 0rem;
  }
}

